:root{
    --main-color:#3F51B5;
    --bg-color:#FBC02D;
    --second-color:#E0E0E0;
    --my-messages-color:#9FA8DA;
    --size:2px;
  }
  body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: body-animation 1s ease forwards;
  }
  
  .card{
    background: #fff;
    width: 350px;
    height: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
    position: relative;
    opacity: 0;
    animation: card-animation 1s 1s ease forwards;
  }
  .card__header {
    height: 80px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: header-animation 1s 2s ease forwards;
  }
  
  .card__main{
    padding: 40px 20px;
  }
  

  .card__footer{
    position: absolute;
    bottom: 0;
    left: 0;right: 0;
    background: var(--second-color);
    opacity: 0;
    animation: footer-animation 1s 2s ease forwards;
  }
  
  .figure{
    display: block;
    background: var(--second-color);
  }
  
  .line{
    width: 50px;
    height: 10px;
    border-radius: 10px;
  }
  
  .line_small{
    height: 1px;
    width: 100%;
  }
  
  .circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }